@model IEnumerable<Incerrance.Model.DAL.Insurrance>
@{
	ViewBag.Title = "Insurance catalog by category";
	Layout = "~/Views/Shared/_Layout.cshtml";
}
<!--start-breadcrumbs-->
<div class="breadcrumbs">
	<div class="container">
		<div class="breadcrumbs-main">
			<ol class="breadcrumb">
				<li><a href="/trang-chu">Home</a></li>
				<li class="active">@ViewBag.Title</li>
			</ol>
		</div>
	</div>
</div>
<!--end-breadcrumbs-->
<!--start-single-->
<div class="single contact">
	<div class="container">
		<div class="single-main">
			<div class="col-md-10 single-main-left">
				<div class="sngl-top">
					@if ((int)ViewBag.Count > 0)
					{
						foreach (var item in Model)
						{
							var url = "/insurrance/" + item.MetaTitle + "/" + item.Id;

							<div class="col-md-4 product-left" style="margin-top: 20px;">
								<div class="p-one simpleCart_shelfItem" style="height:410px;">
									<a href="@url">
										<img src="@item.ImagesInsurrance" alt="" style="height:250px;" />
										<div class="mask">
											<span>See detail</span>
										</div>
									</a>
									<h4>@item.Name</h4>
									<h5>Insurrance Category: @item.InsurranceCategory.Name</h5>
									<h5>Price: @Convert.ToDecimal(item.Price).ToString("#,##0") VNĐ</h5>
								</div>
							</div>
						}
					}
					else
					{
						<div class="container alert alert-danger" style="margin-top: 10px;">
							<p>No insurrance</p>
						</div>
					}
				</div>
			</div>
			<div class="col-md-2 single-right">
				<h3>Insurance type</h3>
				<ul class="product-categories">
					@{ Html.RenderAction("LoadCategory", "Insurrance");}
				</ul>
			</div>
			<div class="clearfix"> </div>
		</div>
	</div>
</div>
<!--end-single-->
