@model PagedList.IPagedList<Incerrance.Model.DAL.User>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
@{
    ViewBag.Title = "User List";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
    int i = 1;
}
<!-- DataTales Example -->
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">@ViewBag.Title</h6>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                @using (Html.BeginForm())
                {
                    <div class="form-group">
                        @Html.TextBox("SearchString", null, new { @class = "col-md-4 form-control float-left", @value = ViewBag.SearchString })
                        <button type="submit" class="btn btn-secondary ml-1"><i class="fa fa-search"></i></button>
                        <a href="/quan-tri/tai-khoan-nguoi-dung/them-moi" class="btn btn-group-sm btn-primary text-decoration-none"><i class="fa fa-plus"></i> Add new</a>
                    </div>
                }
                <thead>
                    <tr>
                        <th>
                            STT
                        </th>
						<th>
							Group
						</th>
						<th>
							User name
							<a href="/quan-tri/tai-khoan-nguoi-dung?sortOrder=@ViewBag.UserNameSortParm&searchString=@ViewBag.SearchString"><i class="fas fa-sort text-dark"></i></a>
						</th>
						<th>
							First and last name
							<a href="/quan-tri/tai-khoan-nguoi-dung?sortOrder=@ViewBag.LastNameSortParm&searchString=@ViewBag.SearchString"><i class="fas fa-sort text-dark"></i></a>
						</th>
                        <th>
                            Email
                        </th>
						<th style="width: 135px;">
							Status
						</th>
                        <th class="text-center" style="width: 115px;"></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @i
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.UserGroup.Name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.UserName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.FullName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Email)
                            </td>
                            <td>
                                <a href="#" class="btn-user btn btn-primary btn-sm" data-id="@item.Id">@(item.IsDeleted ? "Khóa" : "Hoạt động")</a>
                            </td>
                            <td>
                                <a class="btn-sm btn-group-sm btn-success" href="/quan-tri/tai-khoan-nguoi-dung/cap-nhat?id=@item.Id"><i class="far fa-edit"></i></a>
                                <a class="btn-sm btn-group-sm btn-secondary dialog-link" href="@Url.Action("Details", new { id = item.Id })"><i class="fas fa-info"></i></a>
                                <a class="btn-sm btn-group-sm btn-danger dialog-link" href="@Url.Action("Delete", new { id = item.Id })"><i class="far fa-trash-alt"></i></a>
                            </td>
                        </tr>
                        i++;
                    }
                </tbody>
            </table>
            @if (Model.Count() <= 0)
            {
		<div class="text-center text-danger">No data</div>
            }
        </div>
		<div class="text-center">
			Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) Page @Model.PageCount
			@Html.PagedListPager(Model, page => Url.Action("Index", new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))
		</div>
    </div>
</div>

@section Scripts{
    <script>
        var order = {
            init: function () {
                order.registerEvents();
            },
            registerEvents: function () {
                $('.btn-user').off('click').on('click', function (e) {
                    e.preventDefault();
                    var btn = $(this);
                    var id = btn.data('id');
                    $.ajax({
                        url: "/Admin/Users/ChangeStatus",
                        data: { id: id },
                        dataType: "json",
                        type: "POST",
                        success: function (response) {
                            console.log(response);
                            if (response.status == true) {
								btn.text('Lock up');
                            }
                            else {
								btn.text('Work');
                            }
                        }
                    })
                });
            },
        }
        order.init();
    </script>
}