@model Incerrance.Model.DAL.Feedback
@{
    ViewBag.Title = "Feedback from customers";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!--start-breadcrumbs-->
<div class="breadcrumbs">
    <div class="container">
        <div class="breadcrumbs-main">
            <ol class="breadcrumb">
                <li><a href="/trang-chu">Home</a></li>
                <li class="active">@ViewBag.Title</li>
            </ol>
        </div>
    </div>
</div>
<!--end-breadcrumbs-->
<!--start-contact-->
@using (Html.BeginForm("ContactFromCustomer", "FeedBack", FormMethod.Post))
{
    <div class="contact">
        <div class="container">
            <div class="contact-top heading">
                <h3>@ViewBag.Title</h3>
            </div>
            <div class="contact-bottom">
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="col-md-6 contact-left">
                    @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                    @Html.TextBoxFor(model => model.Name, new
                    {
                        @type = "text",
                        @placeholder = "First and last name",
                        @required = "required",
                        @oninvalid = "this.setCustomValidity('You have not entered a name')",
                        @oninput = "this.setCustomValidity('')"
                    })

                    @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                    @Html.TextBoxFor(model => model.Email, new
                    {
                        @type = "text",
                        @placeholder = "Email",
                        @required = "required",
                        @oninvalid = "this.setCustomValidity('You have not entered email yet')",
                        @oninput = "this.setCustomValidity('')"
                    })

                    @Html.ValidationMessageFor(model => model.Phone, "", new { @class = "text-danger" })
                    @Html.TextBoxFor(model => model.Phone, new
                    {
                        @type = "text",
                        @placeholder = "Phone number",
                        @required = "required",
                        @oninvalid = "this.setCustomValidity('You did not enter a phone number')",
                        @oninput = "this.setCustomValidity('')"
                    })

                    @Html.TextBoxFor(model => model.Address, new { @type = "text", @placeholder = "Address" })
                    @Html.ValidationMessageFor(model => model.Address, "", new { @class = "text-danger" })
                </div>
                <div class="col-md-6 contact-left">
                    @Html.TextAreaFor(model => model.Content, new { @placeholder = "Content", @required ="required",
				   @oninvalid = "this.setCustomValidity('You did not enter content')",
				   @oninput="this.setCustomValidity('')" })
                    <input type="submit" value="TO SEND">
                </div>
                <div class="clearfix"> </div>
            </div>
        </div>
    </div>

}
<!--end-contact-->