@model Incerrance.Model.DAL.VehicleType

@{
	ViewBag.Title = "Add New Vehicle Types";
	Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm())
{
	@Html.AntiForgeryToken()
	<div class="form-horizontal">
		@Html.ValidationSummary(true, "", new { @class = "text-danger" })

		<div class="row">
			<div class="form-group col-md-6">
				@Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-11" })
				<div class="col-md-11">
					@Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
					@Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
				</div>
			</div>

			<div class="form-group col-md-6">
				@Html.LabelFor(model => model.MetaTitle, htmlAttributes: new { @class = "control-label col-md-11" })
				<div class="col-md-11">
					@Html.EditorFor(model => model.MetaTitle, new { htmlAttributes = new { @class = "form-control" } })
					@Html.ValidationMessageFor(model => model.MetaTitle, "", new { @class = "text-danger" })
				</div>
			</div>
		</div>

		<div class="row">
			<div class="form-group col-md-12">
				@Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-12" })
				<div class="col-md-12">
					@Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
					@Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
				</div>
			</div>
		</div>
		<div class="form-group text-right">
			<div class="col-md-offset-2 col-md-12">
				<button type="submit" class="btn-sm btn-group-sm btn-primary">Add new</button>
			</div>
		</div>
	</div>
}
<div>
	<a href="/Admin/VehicleTypes/Index" class="btn btn-secondary"><i class="fas fa-angle-left"></i>Back</a>
</div>

