@{
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
    var session = (Incerrance.Common.UserLogin)Session[Incerrance.Common.CommonConstants.USER_SESSION];
}
<div class=" align-items-center justify-content-between mb-4">
    @if (session.GroupId == "ADMIN")
    {
        <!--Quản lý người dùng-->
	    <h6 class="alert alert-success text-center"><i class="fas fa-users"></i> User Management</h6>
        <div class="row col-md-12">
            <a href="/quan-tri/nhom-nguoi-dung" class="col-xl-3 col-md-6 mb-4 text-decoration-none">
                <div class="card border-left-primary shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-4">
								<div class="text-sm font-weight-bold text-primary">User Groups</div>
                                <div class="text-sm font-weight-bold text-primary">@ViewBag.CountUserGroup</div>
                            </div>
                            <div class="col-auto">
                                <i class="fas fa-layer-group fa-2x text-gray-300"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
            <a href="/quan-tri/tai-khoan-nguoi-dung" class="col-xl-3 col-md-6 mb-4 text-decoration-none">
                <div class="card border-left-success shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-4">
								<div class="text-sm font-weight-bold text-success">User Account</div>
                                <div class="text-sm font-weight-bold text-success">@ViewBag.CountUser</div>
                            </div>
                            <div class="col-auto">
                                <i class="fas fa-user fa-2x text-gray-300"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
            <a href="/quan-tri/quan-ly-phan-quyen" class="col-xl-3 col-md-6 mb-4 text-decoration-none">
                <div class="card border-left-info shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-4">
								<div class="text-sm font-weight-bold text-info ">Decentralized Management</div>
                                <div class="text-sm font-weight-bold text-info ">@ViewBag.CountRole</div>
                            </div>
                            <div class="col-auto">
                                <i class="fas fa-user-tag fa-2x text-gray-300"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
            <a href="/quan-tri/phan-quyen-nguoi-dung" class="col-xl-3 col-md-6 mb-4 text-decoration-none">
                <div class="card border-left-warning shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-4">
								<div class="text-sm font-weight-bold text-warning ">User Decentralization</div>
                                <div class="text-sm font-weight-bold text-warning ">@ViewBag.CountCredential</div>
                            </div>
                            <div class="col-auto">
                                <i class="fas fa-pencil-ruler fa-2x text-gray-300"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
        </div>
    }

    <!--Quản lý sản phẩm-->
<h6 class="alert alert-info text-center"><i class="far fa-newspaper"></i> Insurance Vehicle Management</h6>
<div class="row col-md-12">
	<a href="/Admin/Insurrances" class="col-xl-3 col-md-6 mb-4 text-decoration-none">
		<div class="card border-left-primary shadow h-100 py-2">
			<div class="card-body">
				<div class="row no-gutters align-items-center">
					<div class="col mr-4">
						<div class="text-sm font-weight-bold text-primary">Insurrance</div>
						<div class="text-sm font-weight-bold text-primary">@ViewBag.CountInsurrance</div>
					</div>
					<div class="col-auto">
						<i class="fab fa-product-hunt fa-2x text-gray-300"></i>
					</div>
				</div>
			</div>
		</div>
	</a>
	<a href="/Admin/Vehicles" class="col-xl-3 col-md-6 mb-4 text-decoration-none">
		<div class="card border-left-success shadow h-100 py-2">
			<div class="card-body">
				<div class="row no-gutters align-items-center">
					<div class="col mr-4">
						<div class="text-sm font-weight-bold text-success">Vehicle</div>
						<div class="text-sm font-weight-bold text-success">@ViewBag.CountVehicle</div>
					</div>
					<div class="col-auto">
						<i class="fas fa-stream fa-2x text-gray-300"></i>
					</div>
				</div>
			</div>
		</div>
	</a>
	<a href="/Admin/VehicleTypes" class="col-xl-3 col-md-6 mb-4 text-decoration-none">
		<div class="card border-left-success shadow h-100 py-2">
			<div class="card-body">
				<div class="row no-gutters align-items-center">
					<div class="col mr-4">
						<div class="text-sm font-weight-bold text-success">Vehicle Type</div>
						<div class="text-sm font-weight-bold text-success">@ViewBag.CountVehicleType</div>
					</div>
					<div class="col-auto">
						<i class="fas fa-stream fa-2x text-gray-300"></i>
					</div>
				</div>
			</div>
		</div>
	</a>
</div>

    <!--Quản lý chuyên mục bài viết-->
	<h6 class="alert alert-warning text-center"><i class="far fa-newspaper"></i>Managing Articles</h6>
    <div class="row col-md-12">
        <a href="/quan-tri/tin-tuc" class="col-xl-3 col-md-6 mb-4 text-decoration-none">
            <div class="card border-left-primary shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-4">
							<div class="text-sm font-weight-bold text-primary">News</div>
                            <div class="text-sm font-weight-bold text-primary">@ViewBag.CountNews</div>
                        </div>
                        <div class="col-auto">
                            <i class="fab fa-product-hunt fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </a>
        <a href="/quan-tri/loai-tin-tuc" class="col-xl-3 col-md-6 mb-4 text-decoration-none">
            <div class="card border-left-success shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-4">
							<div class="text-sm font-weight-bold text-success">News Group</div>
                            <div class="text-sm font-weight-bold text-success">@ViewBag.CountNewsCategory</div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-stream fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </a>
        <a href="/quan-tri/gioi-thieu-cua-hang" class="col-xl-3 col-md-6 mb-4 text-decoration-none">
            <div class="card border-left-info shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-4">
							<div class="text-sm font-weight-bold text-info ">Company Introduction</div>
                            <div class="text-sm font-weight-bold text-info ">@ViewBag.CountAbout</div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-store fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </a>
    </div>

    <!--Quản lý giao diện người dùng-->
    @if (session.GroupId == "ADMIN")
    {
    <h6 class="alert alert-primary text-center"><i class="fas fa-tv"></i> Management Interface</h6>
        <div class="row col-md-12">
            <a href="/quan-tri/menu" class="col-xl-3 col-md-6 mb-4 text-decoration-none">
                <div class="card border-left-primary shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-4">
                                <div class="text-sm font-weight-bold text-primary">Menu</div>
                                <div class="text-sm font-weight-bold text-primary">@ViewBag.CountMenu</div>
                            </div>
                            <div class="col-auto">
                                <i class="fa fa-list fa-2x text-gray-300"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
            <a href="/quan-tri/slide" class="col-xl-3 col-md-6 mb-4 text-decoration-none">
                <div class="card border-left-success shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-4">
                                <div class="text-sm font-weight-bold text-success">Slide</div>
                                <div class="text-sm font-weight-bold text-success">@ViewBag.CountSlide</div>
                            </div>
                            <div class="col-auto">
                                <i class="fa fa-sliders fa-2x text-gray-300"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
            <a href="/quan-tri/thong-tin-cua-hang" class="col-xl-3 col-md-6 mb-4 text-decoration-none">
                <div class="card border-left-info shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-4">
								<div class="text-sm font-weight-bold text-info ">Company Information</div>
                                <div class="text-sm font-weight-bold text-info ">@ViewBag.CountContact</div>
                            </div>
                            <div class="col-auto">
                                <i class="fas fa-info fa-2x text-gray-300"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
            <a href="/quan-tri/footer" class="col-xl-3 col-md-6 mb-4 text-decoration-none">
                <div class="card border-left-warning shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-4">
                                <div class="text-sm font-weight-bold text-warning ">Footer</div>
                                <div class="text-sm font-weight-bold text-warning ">@ViewBag.CountFooter</div>
                            </div>
                            <div class="col-auto">
                                <i class="fas fa-pager fa-2x text-gray-300"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
        </div>
    }

    <!--Quản lý đơn đặt hàng-->
<h6 class="alert alert-secondary text-center"><i class="fas fa-bars"></i> Manage Insurance Vehicle Applications</h6>
    <div class="row col-md-12">
        <a href="/Admin/Registration_Insurance" class="col-xl-3 col-md-6 mb-4 text-decoration-none">
            <div class="card border-left-primary shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-4">
							<div class="text-sm font-weight-bold text-primary">Insurance application form</div>
                            <div class="text-sm font-weight-bold text-primary">@ViewBag.CountOrder</div>
                        </div>
                        <div class="col-auto">
                            <i class="fa fa-list-alt fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </a>
    </div>
</div>
