@model PagedList.IPagedList<Incerrance.Model.DAL.News>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
@{
	ViewBag.Title = "All news";
	Layout = "~/Views/Shared/_Layouts.cshtml";
}
<div class="content">
	<div class="content_bottom">
		<div class="heading">
			<h3>All news</h3>
		</div>
		<div class="clear"></div>
	</div>
	<div class="section group">
		@if ((int)ViewBag.Count > 0)
		{
			foreach (var item in Model)
			{
				var url = "/chi-tiet-tin-tuc/" + item.MetaTitle + "/" + item.Id;
				<div class="grid_1_of_4 images_1_of_4">
					<a href="@url"><img src="@item.UrlImage" alt="" height="200px" /></a>
					<h2>@item.Name</h2>
					<div class="price-details">
						<div class="price-number">

							<i><span>Posted by: @item.CreatedBy [Date Submitted: @item.CreatedOn</span></i>
							<p>@item.Summary</p>
						</div>
						<div class="add-cart">
							<h4><a href="@url">See Detail</a></h4>
						</div>
						<div class="clear"></div>
					</div>
				</div>
			}
		}
	</div>
</div>
<div class="text-center col-md-10" style="margin-top: 10px;">
	<p>Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) on @Model.PageCount</p>
	@Html.PagedListPager(Model, page => Url.Action("LoadAllProduct", new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))
</div>
