@model Incerrance.Model.DAL.Insurrance
@{
	ViewBag.Title = "Detail Incerrance Vehicle";
	Layout = "~/Views/Shared/_Layouts.cshtml";
}

<div class="content">
	<div class="section group">
		<div class="cont-desc span_1_of_2">
			<div class="product-details">
				<div class="grid images_3_of_2">
					<div id="container">
						<div id="products_example">
							<div id="products">
								<div class="slides_container">
									<a href="#" target="_blank"><img src="@Model.Vehicle.ImageVehicle" alt=" " /></a>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="desc span_3_of_2">
					<h2>@Model.Name</h2>
					<p>Price: @Model.Price VND</p>
					
					<div class="share-desc">
						<div class="button"><span><a href="/Registration_Insurance/Index?Id=@Model.Id">Insurance registration</a></span></div>
						<div class="clear"></div>
					</div>
				</div>
				<div class="clear"></div>
			</div>
			<br />
			<li>Incerrance Vehicle Detail</li>
			<hr />
			<p>@Model.TimeInsurrance (Month)</p>
			<p>@Html.Raw(Model.Description)</p>
			<br />
			<li>Vehicle Detail</li>
			<hr />
			<p>@Model.Vehicle.Name</p>
			<p>Vehicle Body Number: @Model.Vehicle.VehicleBodyNumber</p>
			<p>Vehicle Engine Number: @Model.Vehicle.VehicleEngineNumber</p>
			<p>Vehicle Model: @Model.Vehicle.VehicleModel</p>
			<p>Vehicle Version: @Model.Vehicle.VehicleVersion</p>
			<br />
			<li>Vehicle Type Detail</li>
			<hr />
			<P>@Model.Vehicle.VehicleType.Name</P>
			<P>@Model.Vehicle.VehicleType.Description</P>
		</div>
		<div class="rightsidebar span_3_of_1">
			<h2>CATEGORIES</h2>
			<ul class="side-w3ls">
				@{Html.RenderAction("RightMenu", "Homes");}
			</ul>
		</div>
	</div>
</div>

