@model Incerrance.Model.DAL.Registration_Insurance

@{
	ViewBag.Title = "Extension Of Insurance";
	Layout = "~/Views/Shared/_Layout.cshtml";
}
<!--start-breadcrumbs-->
<div class="breadcrumbs">
	<div class="container">
		<div class="breadcrumbs-main">
			<ol class="breadcrumb">
				<li><a href="/trang-chu">Home</a></li>
				<li class="active">@ViewBag.Title</li>
			</ol>
		</div>
	</div>
</div>
<div class="container">
	<h3>@ViewBag.Title</h3>
	<div class="row">
		<div class="col-md-6 contact-left">
			@using (Html.BeginForm("PaymentExtensionOfInsurance", "Registration_Insurance", FormMethod.Post))
			{
				<input type="hidden" name="RegistrationInsuranceId" class="form-control" value="@Model.Id" />
				<div class="form-group col-md-12">
					<label>Full Name</label>
					<input name="FullName" class="form-control" disabled value="@Model.FullName"/>
				</div>
				<div class="form-group col-md-6">
					<label>Date Of Birth</label>
					<input type="date" name="DateOfBirth" class="form-control" disabled value="@Model.DateOfBirth"/>
				</div>
				<div class="form-group col-md-6">
					<label>Phone</label>
					<input name="Phone"  class="form-control" disabled value="@Model.Phone" />
				</div>
				<div class="form-group col-md-12">
					<label>Address</label>
					<input name="Address"  class="form-control" disabled value="@Model.Address" />
				</div>
				<div class="form-group col-md-6">
					<label>CMND</label>
					<input type="number" name="CMND" class="form-control" disabled value="@Model.CMND" />
				</div>
				<div class="form-group col-md-6">
					<label>Email</label>
					<input type="email" name="Email" class="form-control" disabled value="@Model.Email" />
				</div>
				<label><input type="radio" id="rdoBank" name="paymentMethod" value="ATM_ONLINE" /> Pay with Inland Bank Account</label>
				<div id="bankContent" style="display:none;" class="boxContent">
					Local bank list
					<ul class="cardList clearfix">

						<li class="bank-online-methods ">
							<label for="vcb_ck_on">
								<i class="VCB" title="Bank TMCP Ngoại Thương Việt Nam"></i>
								<input type="radio" value="VCB" name="bankcode" />

							</label>
						</li>

						<li class="bank-online-methods ">
							<label for="vnbc_ck_on">
								<i class="DAB" title="Bank Đông Á"></i>
								<input type="radio" value="DAB" name="bankcode" />

							</label>
						</li>

						<li class="bank-online-methods ">
							<label for="tcb_ck_on">
								<i class="TCB" title="Bank Kỹ Thương"></i>
								<input type="radio" value="TCB" name="bankcode" />
							</label>
						</li>

						<li class="bank-online-methods ">
							<label for="sml_atm_mb_ck_on">
								<i class="MB" title="Bank Quân Đội"></i>
								<input type="radio" value="MB" name="bankcode" />

							</label>
						</li>

						<li class="bank-online-methods ">
							<label for="shb_ck_on">
								<i class="SHB" title="Bank Sài Gòn - Hà Nội"></i>
								<input type="radio" value="SHB" name="bankcode" />

							</label>
						</li>

						<li class="bank-online-methods ">
							<label for="sml_atm_vib_ck_on">
								<i class="VIB" title="Bank Quốc tế"></i>
								<input type="radio" value="VIB" name="bankcode" />

							</label>
						</li>

						<li class="bank-online-methods ">
							<label for="sml_atm_vtb_ck_on">
								<i class="ICB" title="Bank Công Thương Việt Nam"></i>
								<input type="radio" value="ICB" name="bankcode" />

							</label>
						</li>

						<li class="bank-online-methods ">
							<label for="sml_atm_exb_ck_on">
								<i class="EXB" title="Bank Xuất Nhập Khẩu"></i>
								<input type="radio" value="EXB" name="bankcode" />

							</label>
						</li>

						<li class="bank-online-methods ">
							<label for="sml_atm_acb_ck_on">
								<i class="ACB" title="Bank Á Châu"></i>
								<input type="radio" value="ACB" name="bankcode" />

							</label>
						</li>

						<li class="bank-online-methods ">
							<label for="sml_atm_hdb_ck_on">
								<i class="HDB" title="Bank Phát triển Nhà TPHCM"></i>
								<input type="radio" value="HDB" name="bankcode" />

							</label>
						</li>

						<li class="bank-online-methods ">
							<label for="sml_atm_msb_ck_on">
								<i class="MSB" title="Bank Hàng Hải"></i>
								<input type="radio" value="MSB" name="bankcode" />

							</label>
						</li>

						<li class="bank-online-methods ">
							<label for="sml_atm_nvb_ck_on">
								<i class="NVB" title="Bank Nam Việt"></i>
								<input type="radio" value="NVB" name="bankcode" />

							</label>
						</li>

						<li class="bank-online-methods ">
							<label for="sml_atm_vab_ck_on">
								<i class="VAB" title="Bank Việt Á"></i>
								<input type="radio" value="VAB" name="bankcode" />

							</label>
						</li>

						<li class="bank-online-methods ">
							<label for="sml_atm_vpb_ck_on">
								<i class="VPB" title="Bank Việt Nam Thịnh Vượng"></i>
								<input type="radio" value="VPB" name="bankcode" />

							</label>
						</li>

						<li class="bank-online-methods ">
							<label for="sml_atm_scb_ck_on">
								<i class="SCB" title="Bank Sài Gòn Thương tín"></i>
								<input type="radio" value="SCB" name="bankcode" />

							</label>
						</li>

						<li class="bank-online-methods ">
							<label for="ojb_ck_on">
								<i class="OJB" title="Bank Đại Dương"></i>
								<input type="radio" value="OJB" name="bankcode" />

							</label>
						</li>

						<li class="bank-online-methods ">
							<label for="bnt_atm_pgb_ck_on">
								<i class="PGB" title="Bank Xăng dầu Petrolimex"></i>
								<input type="radio" value="PGB" name="bankcode" />

							</label>
						</li>

						<li class="bank-online-methods ">
							<label for="bnt_atm_gpb_ck_on">
								<i class="GPB" title="Bank TMCP Dầu khí Toàn Cầu"></i>
								<input type="radio" value="GPB" name="bankcode" />

							</label>
						</li>

						<li class="bank-online-methods ">
							<label for="bnt_atm_agb_ck_on">
								<i class="AGB" title="Bank Nông nghiệp &amp; Phát triển nông thôn"></i>
								<input type="radio" value="AGB" name="bankcode" />

							</label>
						</li>

						<li class="bank-online-methods ">
							<label for="bnt_atm_sgb_ck_on">
								<i class="SGB" title="Bank Sài Gòn Công Thương"></i>
								<input type="radio" value="SGB" name="bankcode" />

							</label>
						</li>

						<li class="bank-online-methods ">
							<label for="bnt_atm_nab_ck_on">
								<i class="NAB" title="Bank Nam Á"></i>
								<input type="radio" value="NAB" name="bankcode" />

							</label>
						</li>

						<li class="bank-online-methods ">
							<label for="sml_atm_bab_ck_on">
								<i class="BAB" title="Bank Bắc Á"></i>
								<input type="radio" value="BAB" name="bankcode" />

							</label>
						</li>

					</ul>
				</div>

				<div class="form-group col-md-12">
					<button type="submit" class="btn">Extension Of Insurance</button>
				</div>
			}
		</div>
		<div class="col-md-6 contact-left">
			<h3>@Model.Insurrance.Name</h3>
			<p class="availability">
				Status:
				@if (Model.Insurrance.Quantity > 0)
				{
					<span class="text-primary">Still insurance</span>
				}
				else
				{
					<span class="text-danger">Insurance is temporarily out</span>
				}
			</p>
			<p>Insurrance Category: @Model.Insurrance.InsurranceCategory.Name -- Price: @Convert.ToDecimal(Model.Insurrance.Price).ToString("#,##0") VNĐ</p>
			<p>Insurance Period: @Model.Insurrance.InsurancePeriod Month</p>
			<p class="quick_desc">@Html.Raw(Model.Insurrance.Description)</p>
		</div>
		<div class="clearfix"></div>
	</div>
</div>
</div><!--end-breadcrumbs-->
